:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
/* цвет основного текста #E5E5E5; */
/* вторичный цвет текста #212121; */
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA */
.list {
  list-style: none;
}
body {
  background-color: #e5e5e5;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  color: #212121;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-part {
  color: #2196f3;
}
/*site-nav*/
.site-nav .link {
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}
.contact-nav .list {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: #2196f3;
}
/*hero*/
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*button*/
.button {
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  cursor: pointer;
}
/*features*/
.features .title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.title-text {
  font-size: 14px;
  line-height: 1.71;
}

/*section*/
.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}
.title-proffesion {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}
/* footer*/
.address-main {
  font-style: normal;
}
.address-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
.title-info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
/*Portfolio-project*/
.work-project {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-name {
  font-size: 16px;
  line-height: 1.87;
}
.button-choise {
  color: #212121;
  background-color: #f5f4fa;
  border-color: transparent;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.button-choise:hover,
.button-choise:focus {
  color: #ffffff;
  background-color: #2196f3;
}
